.About-Us {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 35vh;
    position: relative;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.About-Us h1 {
    font-size: 2rem;
    padding: 1rem 1rem;
    font-weight: 400;
    text-align: center;
}

.About-Us p {
    font-size:  1rem;
    text-align: center;
    font-weight: 200;
    padding: 3rem 15rem;
}
@media screen and (max-width: 1140px) {
    .Ryj-Img h1 {
        font-size: 2rem;
    }
    
    .aboutUs-card {
        max-width: 90%;
        margin: auto;
    }

    .About-Us h1 {
        font-size: 1.6rem;
        padding: 1rem;
    }
    
    .About-Us p {
        font-size:  1rem;
        padding: 2rem;
    }
}

@media screen and (max-width: 740px) {
    .Ryj-Img h1 {
        font-size: 2rem;
    }
    
    .aboutUs-card {
        max-width: 90%;
        margin: auto;
    }

    .About-Us h1 {
        font-size: 1.6rem;
        padding: 1rem;
    }
    
    .About-Us p {
        font-size:  1rem;
        padding: 2rem;
    }
}