/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
  /* Colour */
      --first-color: #f8f8f8;
      --background-color: #000000;
      --font-first-colour:#141414;
      --font-second-colour: #edf0f1;
      --hover-colour: #008ba7;
      --button-hover-colour: rgb(0,136,169,1.4);
      --button-colour: rgba(1, 189, 179, 0.5);
      --container-colour:#50505056;
  }

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
  max-width: 100%;
}

h1,
h3,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}
h4 {
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
}

/* BUTTON */
.btn {
  padding: 12px 65px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--button-colour);
  border: 1px solid var(--first-color);
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: var(--first-color);
  }

.btn:hover {
  background: rgb(80, 80, 80, 0.8);
  color: var(--first-color);
  transition: 0.4s;
}



